<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzy.apple.auth.dao.SysUserMapper">
	<resultMap id="BaseResultMap" type="com.yzy.apple.auth.entity.SysUser">
		<id column="user_id" jdbcType="BIGINT" property="userId" />
		<result column="username" jdbcType="VARCHAR" property="username" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="salt" jdbcType="VARCHAR" property="salt" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="mobile" jdbcType="VARCHAR" property="mobile" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultVOMap"  type="com.yzy.apple.auth.vo.SysUserVO">
	</resultMap>
	<sql id="Base_Column_List">
			USER_ID, USERNAME, PASSWORD, SALT, EMAIL, MOBILE, STATUS,CREATE_USER_ID,CREATE_TIME
	</sql>
	<sql id="Column_List">
	</sql>
	<sql id="Base_Search_Param">
		<if test="checkId != null and checkId !=''">
			and CHECK_ID = #{checkId}
		</if>
	</sql>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		sys_user
		where user_id = #{userId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.yzy.apple.auth.entity.SysUser">
		insert into sys_user (user_id,
		username, password,
		salt, email, mobile,
		status, create_user_id,
		create_time
		)
		values (#{userId,jdbcType=BIGINT},
		#{username,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{salt,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
		#{mobile,jdbcType=VARCHAR},
		#{status,jdbcType=TINYINT},
		#{createUserId,jdbcType=BIGINT},
		#{createTime,jdbcType=TIMESTAMP}
		)
	</insert>
    <insert id="insertSelective" parameterType="com.yzy.apple.auth.entity.SysUser">
		insert into sys_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="checkPlanId != null">
				CHECK_PLAN_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="checkPlanId != null">
				#{checkPlanId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.yzy.apple.auth.entity.SysUser">
		update sys_user
		set username = #{username,jdbcType=VARCHAR},
		password =
		#{password,jdbcType=VARCHAR},
		salt = #{salt,jdbcType=VARCHAR},
		email =
		#{email,jdbcType=VARCHAR},
		mobile = #{mobile,jdbcType=VARCHAR},
		status =
		#{status,jdbcType=TINYINT},
		create_user_id =
		#{createUserId,jdbcType=BIGINT},
		create_time =
		#{createTime,jdbcType=TIMESTAMP}
		where user_id =
		#{userId,jdbcType=BIGINT}
	</update>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_user
		where user_id =
		#{userId,jdbcType=BIGINT}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_user
		<include refid="Base_Search_Param" />
	</select>
	<delete id="bathDelete" parameterType="Long[]">
		delete from sys_user where user_id in
		<foreach collection="userIds" item="userId" index="no" open="("
			separator="," close=")">
			#{userId}
		</foreach>
	</delete>
</mapper>