package ${package}.${moduleName}.dao;

import java.util.List;
import org.apache.ibatis.annotations.Mapper;
import ${package}.${moduleName}.entity.${className}Entity;
import ${package}.${moduleName}.vo.${className}VO;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Dao {
     

	int deleteByPrimaryKey(${pk.attrType} ${pk.attrname});

	int insert(${className}Entity ${classname}Entity);

	int insertSelective(${className}Entity ${classname}Entity);
	
	int updateByPrimaryKey(${className}Entity ${classname}Entity);

	${className}VO selectByPrimaryKey(${pk.attrType} ${pk.attrname});

	List<${className}VO> selectAll(${className}VO ${classname}VO);

	boolean bathDelete(${pk.attrType}[] ${pk.attrname}s);

}
