<template>
  <el-dialog
    title="详情"
    style="margin-top:15vh;"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-row :gutter="20">
#foreach($column in $columns)
#if($column.columnName != $pk.columnName)
    <el-col :span="20">
      <div class="grid-content bg-purple">${column.comments}：{{ dataForm.${column.attrname} }}</div>
    </el-col>
#end
#end
    </el-row>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        dataForm: {
#foreach($column in $columns)
#if($column.columnName == $pk.columnName)
          ${column.attrname}: 0,
#else
          ${column.attrname}: ''#if($velocityCount != $columns.size()),#end

#end
#end
        },
      }
    },
    methods: {
      init (id) {
        this.dataForm.${pk.attrname} = id || 0
        this.visible = true
        this.$nextTick(() => {
          if (this.dataForm.${pk.attrname}) {
            this.$http({
              url: #[[this.$http.adornUrl]]#(`/${moduleName}/${pathName}/info/#[[$]]#{this.dataForm.${pk.attrname}}`),
              method: 'get',
              #[[data: this.$http.adornParams()]]#
            }).then(({data}) => {
              if (data && data.code === 0) {
#foreach($column in $columns)
#if($column.columnName != $pk.columnName)
                this.dataForm.${column.attrname} = data.data.${column.attrname}
#end
#end
              }
            })
          }
        })
      }
    }
  }
</script>
