package ${package}.${moduleName}.service;

import java.util.List;

import com.github.pagehelper.PageInfo;
import ${package}.${moduleName}.entity.${className}Entity;
import ${package}.${moduleName}.vo.${className}VO;
import com.yzy.apple.common.utils.ParameterVo;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service {

    
	PageInfo<${className}VO> queryPage(ParameterVo<${className}VO> params);

	void insert(${className}Entity ${classname}Entity);

	void deleteBatch(${pk.attrType}[] ${pk.attrname}s);

	${className}VO selectById(${pk.attrType} ${pk.attrname});

	List<${className}VO> list(${className}VO ${classname}VO);
    
    void updateById(${className}Entity ${classname}Entity);
}

