package ${package}.${moduleName}.service.impl;

import org.springframework.stereotype.Service;
import java.util.Map;
import com.baomidou.mybatisplus.mapper.EntityWrapper;
import com.baomidou.mybatisplus.plugins.Page;
import com.baomidou.mybatisplus.service.impl.ServiceImpl;
import ${mainPath}.common.utils.PageUtils;
import ${mainPath}.common.utils.Query;

import ${package}.${moduleName}.dao.${className}Dao;
import ${package}.${moduleName}.entity.${className}Entity;
import ${package}.${moduleName}.service.${className}Service;


@Service("${classname}Service")
public class ${className}ServiceImpl extends ServiceImpl<${className}Dao, ${className}Entity> implements ${className}Service {
	
	@Autowired
    private ${className}Service ${classname}Service;

    @Override
    public PageInfo<${className}Entity> queryPage(ParameterVo<${className}Entity> parameterVo) {
		PageHelper.startPage(parameterVo.getPageIndex(), parameterVo.getPageSize());
		List<${className}Entity> list = staffInfoDao.list(parameterVo.getObject());
		PageInfo<${className}Entity> page = new PageInfo<${className}Entity>(list);
		return page;
    }
}
