<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tabHome">
      <ion-icon name="home"></ion-icon>
      <ion-label>首页</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabRecommend">
      <ion-icon name="heart"></ion-icon>
      <ion-label>推荐</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabChat">
      <ion-icon name="text"></ion-icon>
      <ion-label>聊天</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabContacts">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>通讯录</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabMine">
      <ion-icon name="person"></ion-icon>
      <ion-label>我的</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
